{% extends 'base.html' %}

{% block title %} Forum page {% endblock %}
{% block content %}
<div class="container">
  <form method="POST">
    {{ form.hidden_tag() }}
    {{ form.title.label }}
    {{ form.title() }}
  </form>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Date created</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for element in list %}
        <tr>
          <td scope="col">
            <a href="{{ url_for('blog', ID_POST=element.id) }}">
              {{element.title}}
            </a>
          </td>
          <td>{{element.author}}</td>
          <td>{{element.showtime()}}</td>
            <td> 
              {% if current_user.username == element.author %}
              <a href="{{url_for('delete_blog', ID_POST=element.id)}}" class="btn btn-outline-danger btn-sm"> 
                Delete post 
              </a> 
              {% endif %}
            </td>
            <td>
              {% if current_user.username == element.author %}
              <a href="{{url_for('update_blog', ID_POST=element.id)}}" class="btn btn-outline-primary btn-sm"> 
                Update post 
              </a>
              {% endif %}
            </td> 
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}