<html>
  <head>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='bootstrap/bootstrap.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles/style.css')}}"
    />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-time active">
            <a href="/" class="nav-link">Home</a>
          </li>
          <li class="nav-time active">
            <a href="/login" class="nav-link">Login</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="custom-container">
      <div class="login-card">
        <div class="text-center">
          {% if route == 'register' %}
          <h1>Register</h1>
          {% else %}
          <h1>Login</h1>
          <a href="/register"> Don't have an account? </a>
          {% endif %}
        </div>
        <form method="POST" class="text-center">
          {{ form.hidden_tag() }}
          <div class="form-group">
            {{ form.username.label }} {{ form.username() }}
          </div>
          <div class="form-group">
            {{ form.password.label }} {{ form.password() }}
          </div>
          {{ form.submit() }}
        </form>
        {% with messages = get_flashed_messages() %} {% if messages %}
        <script>
          alert("{{ messages[0] }}");
        </script>
        {% endif %} {% endwith %}
      </div>
    </div>
  </body>
</html>
